extends ./layout.pug

mixin CsrfForm(endpoint)
    form(action=endpoint method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        block

block title
    title CJIDC - ADMIN

block main
    h1 CJIDC Realtime - Admin
    section
        h3 Add Score data
        +CsrfForm("/score")
            input(type="text" name="grade" placeholder="grade")
            input(type="text" name="class" placeholder="class")
            input(type="datetime-local" name="time")
            select(name="kind")
                each kind in kinds
                    option(value=kind) 競技 #{kind}
            input(type="text" name="point" placeholder="point")
            input(type="submit" value="submit")