extends ./layout.pug

block title
    title CJIDC - INDEX

append scripts
    script(src="/socket.io/socket.io.js")
    script(src="/js/index.js")

block main
    h1 CJIDC Realtime
    section
        h3 Ranking
        table
            thead
                tr
                    th rank
                    th grade
                    th class
                    th point
            tbody(id="score")
                tr
                    td 1
                    td 1
                    td 1
                    td 100
    section
        h3 Event Log
        table
            thead
                tr
                    th time
                    th class
                    th kind
                    th point
            tbody(id="event")
                tr
                    td 10:05
                    td 1
                    td 400-meter relay
                    td +100