doctype html
html
    head
        meta(charset="utf-8")
        title CIJDC - INDEX
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        main
            h1 CJIDC Realtime
            section
                h3 Ranking
                table
                    tr
                        td rank
                        td grade
                        td class
                        td point
                    tr
                        td 1
                        td 1
                        td 1
                        td 100
            section
                h3 Event Log
                table
                    thead
                        tr
                            td time
                            td grade
                            td class
                            td kind
                            td point
                    tbody
                        tr
                            td 10:05
                            td 1
                            td 1
                            td 400-meter relay
                            td +100
        footer
            p &copy; 2016 CJIDC