doctype html
html
    head
        meta(charset="utf-8")
        block title
            title CJIDC
        link(rel="stylesheet" href="/stylesheets/style.css")
        block scripts
    body
        main
            block main
        footer
            p &copy; 2016 CJIDC